.episode-list-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 8px 0px;
  padding-right: 10px;
  height: 100px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.episode-list-item-text {
  margin: 10px;
  opacity: 0.9;
}

.episode-list-item p {
  font-size: 12px;
  padding: 3px 0px;
  opacity: 0.7;
}

.episode-list-item img {
  width: 100px;
  height: 100px;
}

.played-percentage-bar {
  width: 200px;
  height: 5px;
  transform: translateY(-100%);
}

@media only screen and (min-width: 565px) {
  .played-percentage-bar {
    width: 400px;
  }
}
