.episode-list-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.episode-list {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

.episode-list-hero {
  text-align: center;
  max-width: 50%;
}

.episode-list-hero img {
  max-width: 100%;
}

.episode-list-info {
  margin: 20px 0px;
  text-align: left;
}

.episode-list-info p {
  font-weight: 100;
}

.episode-list-info-and-sub {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .episode-list-container {
    flex-direction: row;
  }

  .episode-list-hero {
    align-self: start;
    margin: 30px;
  }
}
