.episode-list-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.back-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  margin-left: 10px;
  font-size: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-right: 2px;
}

.episode-list {
  max-width: 600px;
  margin: 10px 2px 80px 2px;
}

.episode-list-hero {
  text-align: center;
  max-width: 600px;
  margin-top: 20px;
}

.episode-list-hero img {
  max-width: 50%;
}

.episode-list-info {
  margin: 20px 12px;
  text-align: left;
}

.episode-list-info p {
  font-weight: 100;
}

.episode-list-info-and-sub {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 565px) {
  .episode-list-hero {
    margin-top: 20px;
  }
}
