.button {
  height: 25px;
  width: 25px;
  padding: 5px;
  margin: 10px;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.15s all ease-in-out;
}

.button:hover {
  opacity: 0.7;
}

.subscribe {
  background-color: rgb(9, 137, 211);
}

.unsubscribe {
  background-color: rgb(255, 0, 157);
}
