.player-header {
  z-index: 3;
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: white;
  background-color: black;
  height: 50px;
  width: 100%;
}

.player-header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.header-play-button {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.15s opacity linear;
}

.header-play-button:hover {
  opacity: 0.7;
}

.header-bar-container {
  display: flex;
  justify-content: center;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-nav-button {
  cursor: pointer;
  transition: 0.15s opacity linear;
}

.footer-nav-button:hover {
  opacity: 0.7;
}

.footer-nav-button {
  margin-left: 10px;
}

.description {
  margin: 50px auto;
  max-width: 400px;
  z-index: 3;
  overflow: scroll;
  height: 300px;
}

.description * {
  margin: 20px;
}

.hidden {
  opacity: 0;
}

@media only screen and (min-width: 565px) {
  .header-play-button {
    margin-right: 20px;
    font-size: 14px;
  }

  .up-arrow {
    margin-left: 20px;
  }

  .description {
    height: 50%;
  }

  .header-track-name {
    width: 40%;
  }
}
