.current-episode-container {
  height: 100px;
  background-color: black;
}

.current-episode {
  margin: 0px auto;
  padding: 8px 10px 8px 8px;
  height: 100%;
  max-width: 584px;
  display: flex;
  align-items: center;
}

.current-episode * {
  color: white;
  margin: 5px 0px;
}

.current-episode img {
  max-height: 100%;
}

.current-episode-info {
  margin-left: 15px;
}
