.current-episode {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  overflow: hidden;
}

.current-episode img {
  width: 100%;
  max-width: 800px;
}

.current-episode .title {
  width: 90%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.9;
}

.current-episode-info {
  margin: 20px auto 50px auto;
  max-width: 430px;
  line-height: 1.3;
  z-index: 3;
}

.current-episode-info * {
  margin: 10px 20px;
}

.current-episode-info p {
  opacity: 0.8;
}

/* Trying different heights */

@media only screen and (min-width: 565px) {
  .current-episode {
    margin: 0px auto;
  }
}

@media only screen and (min-width: 1000px) {
  .current-episode {
    margin: 10vh auto;
  }
}
