.search-icon-container {
  cursor: pointer;
  transition: 0.15s opacity linear;
}

.search-icon-container:hover {
  opacity: 0.5;
}

.search-icon {
  font-size: 1.8rem;
  position: absolute;
  top: 65px;
  left: 15px;
  color: black;
}

.search-bar {
  position: absolute;
  top: 65px;
  left: 50px;
  margin-top: -5px;
}

.search-bar input {
  font-size: 16px;
  width: 300px;
  padding: 12px 25px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.search-bar input:focus {
  outline: none;
  border: 1px solid black;
}

.podcast-list {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
