.search-container {
  max-width: 600px;
  margin: 20px auto;
}

.search-icon {
  position: absolute;
  font-size: 16px;
  padding: 11px;
  text-align: center;
  min-width: 50px;
  cursor: pointer;
  transition: 0.15s opacity linear;
}

.search-icon:hover {
  opacity: 0.5;
}

.search-bar {
  margin: 0px 8px;
}

.search-bar input {
  font-size: 16px;
  width: 100%;
  max-width: 600px;
  padding: 10px 25px 10px 50px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.05);
}

.search-bar input:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.results-list {
  max-width: 600px;
  margin: 0px 8px;
}
