.search-bar {
  width: 100%;
  text-align: center;
  margin: 68px 0px 10px 0px;
}

.search-bar input {
  font-size: 16px;
  padding: 12px 25px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.search-bar input:focus {
  outline: none;
  border: 1px solid black;
}

.podcast-list {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
