.bar {
  user-select: none;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
}

.time {
  font-size: 12px;
}

.progress {
  flex: 1;
  margin: 0 5px;
  height: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.15s opacity linear;
}

.knob {
  position: relative;
  height: 16px;
  width: 16px;
  border: 1.5px solid black;
  border-radius: 50%;
}

.progress:hover {
  opacity: 0.6;
}

@media only screen and (min-width: 565px) {
  .progress {
    margin: 0px 20px;
  }
}
