.subscriptions-container {
  max-width: 600px;
  margin: 0 auto;
}

.subscriptions-title {
  font-weight: 100;
  margin: 20px 0px;
}

.subscriptions-list {
  max-width: 600px;
  margin: 0 auto 100px auto;
}
