.podcast-list-item {
  height: 100px;
  margin: 8px 5px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.podcast-list-item-text {
  margin: 20px;
  color: black;
  opacity: 0.9;
}

.podcast-list-item-text p {
  font-size: 12px;
  opacity: 0.7;
}
