* {
  font-family: helvetica;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
}
