.player {
  opacity: 1;
  z-index: 2;
  background-color: white;
  width: 100%;
  height: 100vh;
  background-position: center;
  text-align: center;
  position: fixed;
  top: -100vh;
  transition: 0.35s all ease-in-out;
}

.visible {
  transform: translateY(100vh);
}

.player img {
  width: 100%;
  max-width: 800px;
  z-index: -1;
}

.player-image {
  position: absolute;
  width: 100%;
  max-height: 100%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s all ease-in-out;
}

.gradient-overlay {
  mask-image: linear-gradient(to top, transparent 15%, black 85%);
}

.player .title {
  width: 90%;
  position: absolute;
  top: 65vh;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.9;
}

.play-container {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translateX(-50%);
}

.bar-container {
  display: flex;
  justify-content: center;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85vh;
}

.play-pause-button {
  cursor: pointer;
  transition: 0.15s opacity linear;
}

.play-pause-button:hover {
  opacity: 0.7;
}

.player-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100vh;
  padding: 15px;
  color: white;
  background-color: black;
  height: 50px;
  width: 100%;
}

.player-header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.header-play-button {
  margin-right: 20px;
  font-size: 14px;
}

.header-bar-container {
  display: none;
  width: 100%;
  padding: 0px 20px;
}

.up-arrow,
.down-arrow {
  cursor: pointer;
  transition: 0.15s opacity linear;
}

.up-arrow:hover,
.down-arrow:hover {
  opacity: 0.7;
}

.down-arrow {
  margin-left: 20px;
}

.up-arrow {
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
}

.dimmed {
  opacity: 0.3;
}

.description {
  margin: 100px auto;
  max-width: 400px;
}

.description * {
  margin: 10px 0px;
}

.hidden {
  opacity: 0;
}

@media only screen and (min-width: 565px) {
  .description {
    margin: 20% auto;
  }

  .header-bar-container {
    display: flex;
    justify-content: center;
  }

  .header-track-name {
    width: 40%;
  }
}
