.player {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
}

.player img {
  width: 100%;
  max-width: 800px;
}

.player-image {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.player .title {
  width: 90%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.9;
}

.episode-info {
  margin: 20px auto 50px auto;
  max-width: 400px;
  z-index: 3;
  overflow: scroll;
  text-align: center;
}

.episode-info * {
  margin: 10px 20px;
}

.episode-info p {
  opacity: 0.8;
}

@media only screen and (min-width: 565px) {
  .player {
    margin: 20vh auto;
  }
}
