.player {
  margin-top: 50px;
  width: 100%;
  height: 90%;
  background-position: center;
  text-align: center;
}

.player img {
  width: 100%;
  max-width: 800px;
  z-index: -1;
}

.gradient-overlay {
  mask-image: linear-gradient(to top, transparent 15%, black 85%);
}

.player .title {
  width: 90%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.9;
}

.play-pause-button {
  cursor: pointer;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.15s opacity linear;
}

.play-pause-button:hover {
  opacity: 0.7;
}
